@import './colors';
@mixin flex-v-centered {
    display: flex;
    align-items: center;
}

@mixin placeholder-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: $gray;
}

@mixin input-text {
    @include placeholder-text;
    color: $darkGrey;
}

@mixin subtitle-2-text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.1px;
}

@mixin stats-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    letter-spacing: 0.1px;
}